# Assignment 4

1. What exactly is []?

In [32]:
#[] is refering a list in python.
[1,2,3,4,5,6,7]

[1, 2, 3, 4, 5, 6, 7]

In [33]:
#We can put elements inside this square bracket and it automatically takes as a list.
a=[1,2,3,4,5,5,6,7]
type(a)

list

2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [34]:
#we can insert element in a list by using insert function (insert(index,element to insert))

In [35]:
spam=[2,4,6,8,10]

In [36]:
spam.insert(2,"hello")

In [37]:
spam

[2, 4, 'hello', 6, 8, 10]

In [38]:
#Let's pretend the spam includes the list ['a','b','c','d'] for the next three queries.
spam.extend(['a','b','c','d'])

3. What is the value of spam[int(int('3' * 2) / 11)]?

In [42]:
spam

[2, 4, 'hello', 6, 8, 10, 'a', 'b', 'c', 'd']

In [40]:
print("The value of spam[3] is ",spam[int(int('3' * 2) / 11)])

The value of spam[3] is  6

4. What is the value of spam[-1]?

In [43]:
#spam[-1] here -1 is the indexing value from the last
spam[-1]

'd'

In [44]:
#Here for -1 we get last value in the array

5. What is the value of spam[:2]?

In [45]:
spam[:2]

[2, 4]

In [46]:
#[start value:count]
spam[3:6]

[6, 8, 10]

In [47]:
#Let's pretend bacon has the list [3.14,'cat', 11, 'cat',True] for the next three questions.

In [48]:
bacon=[3.14,'cat', 11, 'cat',True]

In [49]:
spam

[2, 4, 'hello', 6, 8, 10, 'a', 'b', 'c', 'd']

6. What is the value of bacon.index(&#39;cat&#39;)?

In [50]:
bacon.index("cat")

1

In [51]:
#index will give the index of first element
#If there is 2 same value then index return only 1st values's index

7. How does bacon.append(99) change the look of the list value in bacon?

In [52]:
bacon.append(99)

In [53]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [54]:
#extend will add elements to the list the back

8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [57]:
bacon.remove('cat')
bacon

[3.14, 11, True, 99]

In [62]:
#remove will remove the element the first occurence of the value in the list  --->

9. What are the list concatenation and list replication operators?

In [63]:
#list concatenation

In [64]:
a=[1,2,3,4]
b=[7,8,9]

In [65]:
c=a+b
c

[1, 2, 3, 4, 7, 8, 9]

In [66]:
#list1+list2=="The new list with all elements inside both list"

In [67]:
#list replication

In [68]:
a=[1,2,3,4,5]
a*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [70]:
#a*3 It will make fill the resulting list with that many number of same list
# for example a=[3]
#if a*3
# a=[3,3,3]

10. What is difference between the list methods append() and insert()?

In [87]:
#append()
#By using append we can insert element at the last
lst1=[1,2,3,4,5,6,7,8]
lst1.append("new")
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 'new']

In [88]:
lst1.append([132,12,1,3,2,3])
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 'new', [132, 12, 1, 3, 2, 3]]

In [89]:
#if we append list in to list it will settle as list inside a list

In [90]:
#insert()
#By using insert function we can insert element whereever we want by using index

In [91]:
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 'new', [132, 12, 1, 3, 2, 3]]

In [92]:
lst1.insert(0,"Start")
lst1

['Start', 1, 2, 3, 4, 5, 6, 7, 8, 'new', [132, 12, 1, 3, 2, 3]]

11. What are the two methods for removing items from a list?

In [106]:
#we can remove items by using remove() and pop() function
lst2=[1,2,3,4,5]

In [107]:
#remove()----Remove the first occurence of the element in a list
lst2.remove(2)
lst2

[1, 3, 4, 5]

In [108]:
#pop() ----- it will remove element from the last index of list
lst2.pop()
lst2

[1, 3, 4]

12. Describe how list values and string values are identical.

In [111]:
#list ---- List is basically a group of items with any datatype..We can access by using index value
lst=[1,2,3,4,5]
lst[0]

1

In [112]:
#string ------ string is group of characters..We can also access string by index value
stri="abcd"
stri[0]

'a'

In [113]:
#both list and string we can access element by using index value

13. What&#39;s the difference between tuples and lists?

In [116]:
#tuples vs list

In [117]:
#The tuple is immutable where list is mutable

In [119]:
#list
aa=[1,2,3,4,5]
aa[0]=100
aa

[100, 2, 3, 4, 5]

In [120]:
#tuple
bb=(1,2,3,4)
bb[0]=100
bb

TypeError: 'tuple' object does not support item assignment

14. How do you type a tuple value that only contains the integer 42?

In [123]:
#if we have only one element we have to include (,) near that element to remain tuple
(42,)

(42,)

15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [126]:
#to get list as tuple we can use tuple() which acts as typecasting
lst11=[1,2,3,4,5,6]
lst11=tuple(lst11)
print(lst11)
print(type(lst11))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [127]:
#to get tuple as list we can use list()
tup=(1,2,3,4)
tup

(1, 2, 3, 4)

In [128]:
list(tup)

[1, 2, 3, 4]

16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

In [129]:
lstt=[1,2,3,[1,2,3,4]]

In [130]:
lstt

[1, 2, 3, [1, 2, 3, 4]]

In [132]:
#the list variables contains references to the list values

In [133]:
lst[2]

3

17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [150]:
import copy
lst123=[1,2,3,4,5]
a=copy.copy(lst123)  #makes shallow copy
b=copy.deepcopy(lst123) # makes deep copy

In [151]:
a

[1, 2, 3, 4, 5]

In [152]:
b

[1, 2, 3, 4, 5]

In [153]:
lst123.append("sdfs")